body {
  height: 100%;
  width: 100%;
  margin: 0px;
}

.left-right {
  display: flex;
}

.left {
  width: 600px;
  height: 100vh;
  background-image: url(rain.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

.bar {
  background-color: black;
  width: 600px;
  height: 200px;
  opacity: 0.5;
  position: relative;
  top: 300px;
}
